
@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>
@using (Html.BeginForm("Deletedata", "employee"))
{
    <input type="hidden" name="id" value="@Model.id" />
    <div class="delete">

        <label>First Name:</label>
        <br />
        <input type="text" name="Firstname" value="@Model.Firstname" id="first" />

    </div>
    <div class="delete">
        <label>Last Name:</label>
        <br />
        <input type="text" name="Lastname" value="@Model.Lastname" id="last" />
    </div>
    <div class="delete">
        <label>Address:</label>
        <br />
        <input type="text" name="Address" value="@Model.Address" id="address" />
    </div>
    <div class="delete">
        <input type="submit" class="btn btn-success" name="submit" value="Delete" />

    </div>
}
