@model asp.netproject.Models.employee_salary_details
@{
    ViewBag.Title = "adddata";
}

<h2>adddata</h2>
<style>
    .edit{
        margin-top:20px;
    }
</style>
@using (Html.BeginForm("add", "Salary"))
{
    <div class="edit">

        <label>Employee Name :</label>
        @*<select>
           @foreach(var data in ViewBag.empsList)
        </select>*@
        @Html.DropDownList("employeeList", null,"Select",htmlAttributes: new {@Name ="employee_id"})
        <br />
        @*<input type="text" name="employee_id" value="" id="employeeid" />*@

    </div>
    <div class="edit">

        <label>Salary Paid :</label>
        <br />
        <input type="text" name="salary_paid" value="" id="salarypaid" />

    </div>
    <div class="edit">
        <label>Paid Date :</label>
        <br />
        <input type="date" name="paid_date" value="" id="paiddate" />
    </div>

    <div class="edit">
        <input type="submit" class="btn btn-success" name="submit" value="Submit" />

    </div>
}